* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-family: "Open Sans", sans-serif;
}

/* common styles */
.section-full {
    width: 100%;
}

.btn-primary {
    border-radius: 5px;
    background: #996194;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
}

.input {
    border-radius: 5px;
    border: 0;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    color: #272727;
    background: rgba(39, 39, 39, 0.1);
    margin-bottom: 20px;
}

.btn-primary:hover {
    background: #fff;
    color: #996194;
    cursor: pointer;
    border: 0.5px solid #272727;
}

.btn-secondary {
    border-radius: 5px;
    background: #e55473;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
}

.btn-secondary:hover {
    background: #fff;
    color: #e55473;
    cursor: pointer;
    border: 0.5px solid #272727;
}

.section-with-padding {
    margin: 60px 200px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 15px;
}

.section-description {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.special-text {
    color: #e55473;
}

/* navbar */
.navbar {
    height: 80px;
    background-color: #c5233b80;
}

.nav-title {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

.text-primary {
    color: #996194;
}

nav > ul {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    color: #996194;
    cursor: pointer;
}

/* banner */
.banner {
    background: rgba(229, 84, 115, 0.1);
    background-image: url("./FlowerAsset/pngwing10.png");
    background-repeat: no-repeat;
    background-position: 85% 100%;
    background-size: 480px;
    padding: 150px 970px 150px 200px;
}

.banner-content {
    width: 550px;
}

.banner-title {
    color: #272727;
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 15px;
}

.banner-img {
    height: 500px;
}

/* featured flowers section */
.featured-flowers {
    text-align: center;
    padding-top: 70px;
}
.flower-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flower-card1,
.flower-card2,
.flower-card3 {
    height: 300px;
    width: 250px;
    border-radius: 50% 50% 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.flower-card2 {
    background: rgba(5, 151, 160, 0.15);
}

.flower-card3 {
    background: rgba(71, 125, 17, 0.15);
}

.flower-img {
    height: 250px;
    margin-top: 50px;
}

.caption {
    margin-top: 5px;
    color: #272727;
    font-size: 20px;
    font-weight: 600;
    text-decoration-line: underline;
}

#mid-img {
    padding-bottom: 20px;
}

/* service section */
.service-container {
    display: flex;
    height: 320px;
    justify-content: space-around;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.274);
    align-items: center;
    margin-top: 130px;
}

.service {
    text-align: center;
}

/* hot deals section */
.hot-deal-container {
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 200px 50px 200px;
}

.hot-deal-content {
    text-align: center;
}

.hotdeal-img {
    width: 210px;
}

/* instagram section */
.insta-content {
    text-align: center;
    margin-bottom: 25px;
}

.insta-content .section-description {
    width: 55%;
    margin: auto;
}

.flower-box {
    display: flex;
    justify-content: space-between;
}

.insta-img {
    width: 200px;
}

/* latest deals section */
.latest-deals-container {
    background-image: url("./FlowerAsset/Rectangle9.png");
    height: 297px;
    /* border: 1px solid #272727; */
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* footer */
footer {
    height: 350px;
    background-color: #111010;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .section-title {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

footer .section-description {
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.copyright {
    color: rgba(255, 255, 255, 0.4) !important;
}
